@font-face {
	font-family: "rubikbubbles";
	src: url("font/rubikbubbles.ttf");
}

/* prevents user from selecting text if double clicking */
* {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	font-family: "rubikbubbles", Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("img/background/DesertBackground.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;
}

h1 {
	font-size: 64px;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
}

canvas {
	position: relative;
	background-color: black;
	display: block;
}

div {
	margin-top: 10px;
}

span {
	padding: 5px;
}

#MuteButton {
	border: 2px dotted greenyellow;
	cursor: pointer;
	border-radius: 8px;
}

#MuteButton.active {
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-thickness: 3px;
	border-color: red;
}

#warning {
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: none;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	background-color: rgba(126, 20, 20, 0.907);
}

/* Smartphone */
@media only screen and (max-height: 648px), screen and (max-width: 1086px) {
	canvas {
		height: 100vh;
		width: 100%;
	}

	h1 {
		display: none;
	}

	div {
		display: none;
	}
}
